<h3 class="font-weight-bold mb-2" *ngIf="categories; else nocategory">
  {{ title }}
</h3>
<div class="list-group pt-1 pb-2">
  <a class="list-group-item active">Tüm ürünler </a>
  <div>
    <ng-template #nocategory>
      <div class="font-italic text-muted alert alert-danger sbar" role="alert">
        Kategoriler getirelemedi
      </div>
    </ng-template>
  </div>
</div>

<div class="list-group" *ngFor="let category of categories">
  <a class="list-group-item" href="#"> {{ category.name }} </a>
</div>
