<div class="row px-2">
  <h3 class="font-weight-bold mb-2" *ngIf="products; else noProduct">
    {{ title }}
  </h3>

  <ng-template #noProduct>
    <div
      class="font-italic text-muted mb-4 alert alert-danger sbar"
      role="alert"
    >
      Ürünler getirelemedi.
    </div>
  </ng-template>
  <div class="search">
    <div class="search-form">
      <input
        type="text"
        id="ProductName"
        placeholder="Search"
        [(ngModel)]="filterText"
      />

      <small class="text-success" *ngIf="filterText">
        Arattığınız <strong> {{ filterText }} </strong>
      </small>
    </div>
  </div>
  <div class="pb-2"></div>

  <div
    *ngFor="let product of products | productFilter : filterText"
    class="card rounded shadow-sm border-1 px-2"
    style="width: 15rem"
  >
    <img
      class="card-img-top img-thumbnail"
      [src]="product.imageUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name | uppercase }}
        {{ product.price }}
      </h5>
      <p class="card-text">{{ product.description }}</p>
      <button (click)="sepetEkle(product)" class="btn btn-primary">
        Sepete Ekle
      </button>
    </div>
  </div>
</div>
