<h3 *ngIf="products; else noProduct">{{ title }}</h3>
<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride ürün yoktur.
    </div>
  </ng-template>
<div class="input-group">
  <div class="form-outline">
    <input
    class="form-control"
    id="ProductName"
    placeholder="Search"
[(ngModel)]="filterText"/>
  <small  *ngIf="filterText" class="form-text text-muted">
    Arattığınız <strong> {{filterText}} </strong>
  </small>
  </div>
</div>
<br>

  
  <div *ngFor="let product of products | productFilter:filterText " class="card" style="width: 18rem">
    <img
      style="width: 250px"
      class="card-img-top"
      [src]="product.imageUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name | uppercase }}
        {{ product.price }}
      </h5>
      <p class="card-text">{{ product.description }}</p>
      <button (click)="sepetEkle(product)"  class="btn btn-primary">Sepete Ekle</button>
    </div>
  </div>
</div>
