<h3 class="font-weight-bold mb-2" *ngIf="products; else noProduct">
  {{ title }}
</h3>

<div class="row">
  <ng-template #noProduct>
    <div class="font-italic text-muted mb-4 alert alert-danger" role="alert">
      Ürünler getirelemedi.
    </div>
  </ng-template>
  <div class="search">
    <div class="search-form">
      <input
        type="text"
        id="ProductName"
        placeholder="Search"
        [(ngModel)]="filterText"
      />
      <div class="row">
        <small class="text-success" *ngIf="filterText">
          Arattığınız <strong> {{ filterText }} </strong>
        </small>
      </div>
    </div>
  </div>
  <br />

  
  <div
    *ngFor="let product of products | productFilter : filterText"
    class="card rounded shadow-sm border-1"
    style="width: 18rem"
  >
    <img
      style="width: 250px"
      class="card-img-top"
      [src]="product.imageUrl"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ product.name | uppercase }}
        {{ product.price }}
      </h5>
      <p class="card-text">{{ product.description }}</p>
      <button (click)="sepetEkle(product)" class="btn btn-primary">
        Sepete Ekle
      </button>
    </div>
  </div>
</div>



  
  